services:
  sftp:
    image: atmoz/sftp
    ports:
      - "2222:22"
    volumes:
      - ./demo-files:/home/demo/files:ro
      - ./ssh-host-keys:/etc/ssh/keys:ro
      - ./ssh-user-keys/demo_key.pub:/home/demo/.ssh/keys/demo_key.pub:ro
    command: demo::1001
